body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
}

.partyfy {
  -webkit-animation: party 1s infinite;
  -moz-animation: party 1s infinite;
  -o-animation: party 1s infinite;
  -ms-animation: party 1s infinite;
  animation: party 1s infinite;
}

@-webkit-keyframes party {
  0% {
    color: #ff8d8b;
  }
  10% {
    color: #fed689;
  }
  20% {
    color: #88ff89;
  }
  30% {
    color: #87ffff;
  }
  40% {
    color: #8bb5fe;
  }
  50% {
    color: #d78cff;
  }
  60% {
    color: #ff8cff;
  }
  70% {
    color: #ff68f7;
  }
  80% {
    color: #fe6cb7;
  }
  90% {
    color: #ff6968;
  }
  100% {
    color: #ff8d8b;
  }
}
@-moz-keyframes party {
  0% {
    color: #ff8d8b;
  }
  10% {
    color: #fed689;
  }
  20% {
    color: #88ff89;
  }
  30% {
    color: #87ffff;
  }
  40% {
    color: #8bb5fe;
  }
  50% {
    color: #d78cff;
  }
  60% {
    color: #ff8cff;
  }
  70% {
    color: #ff68f7;
  }
  80% {
    color: #fe6cb7;
  }
  90% {
    color: #ff6968;
  }
  100% {
    color: #ff8d8b;
  }
}
@-ms-keyframes party {
  0% {
    color: #ff8d8b;
  }
  10% {
    color: #fed689;
  }
  20% {
    color: #88ff89;
  }
  30% {
    color: #87ffff;
  }
  40% {
    color: #8bb5fe;
  }
  50% {
    color: #d78cff;
  }
  60% {
    color: #ff8cff;
  }
  70% {
    color: #ff68f7;
  }
  80% {
    color: #fe6cb7;
  }
  90% {
    color: #ff6968;
  }
  100% {
    color: #ff8d8b;
  }
}
@-o-keyframes party {
  0% {
    color: #ff8d8b;
  }
  10% {
    color: #fed689;
  }
  20% {
    color: #88ff89;
  }
  30% {
    color: #87ffff;
  }
  40% {
    color: #8bb5fe;
  }
  50% {
    color: #d78cff;
  }
  60% {
    color: #ff8cff;
  }
  70% {
    color: #ff68f7;
  }
  80% {
    color: #fe6cb7;
  }
  90% {
    color: #ff6968;
  }
  100% {
    color: #ff8d8b;
  }
}

@keyframes party {
  0% {
    color: #ff8d8b;
  }
  10% {
    color: #fed689;
  }
  20% {
    color: #88ff89;
  }
  30% {
    color: #87ffff;
  }
  40% {
    color: #8bb5fe;
  }
  50% {
    color: #d78cff;
  }
  60% {
    color: #ff8cff;
  }
  70% {
    color: #ff68f7;
  }
  80% {
    color: #fe6cb7;
  }
  90% {
    color: #ff6968;
  }
  100% {
    color: #ff8d8b;
  }
}
